LEETCODE PROBLEM NUMBER "349" INTERSECTION OF TWO ARRAYS

In [1]:
def intersection(arr1,arr2):
    aset=set()
    for i in arr1:
        if i in arr2:
            aset.add(i)
    return aset
arr1=[1,2,2,4,5]
arr2=[2,5,6,4]
print(intersection(arr1,arr2))

{2, 4, 5}

RAT COUNT HOUSE
- The function accepts two positive integers 'r' and 'unit' and a positive integer array 'arr' of size 'n' as its argument 'r' represents the number of rats presernt in an area.
- 'unit' is the amount of food each rat consumes and each the element of array 'arr' represents the amount of food present in 'i+1' house number,where 0<=i
* Return -1 if the array is null
* Return 0 if the total amount of food all houses is not sufficient for all the rats.
* computed values lie within the integer range.

In [25]:
def housecount(r,unit,n,arr):
    if n==0:
        return -1
    food_req = r * units
    food_taken = 0
    house = 0
    for i in arr:
        food_taken = food_taken + i
        house = house + 1
        if food_taken >= food_req:
            break
    if sum(arr) <= food_req:
        return 0
    return house
r = 7
units = 3
n = 6
arr = [2,8,3,5,7,4]
print(housecount(r,units,n,arr))

5

In [29]:
def ratcount(r,units,arr,n):
    if n==0:
        return -1
        foodstole = 0
        total =r*units
        for i in range(n):
            foodstole = foodstole + arr[i]
            if foodstole>=total:
                break
                if sum(arr) < total:
                    return 0
                    return i+1

FACTOR OF NUMBER

In [43]:
def factorNum(num):
    l1 = []
    for i in range(1, num + 1):
        if num % i == 0:
            l1.append(i)
    return l1

num = 12
print(factorNum(num))

[1, 2, 3, 4, 6, 12]

In [53]:
def factorNum(num):
    if num <= 0:
        return 0
    l1 = [ i for i in range(1 ,num+1) if num % i == 0]
    return l1

num = 12
factorNum(num)

[1, 2, 3, 4, 6, 12]

REVERSING A STRING USING STACK

In [51]:
class mystack:
    def __init__(self):
        self.st = []
    def revstr(self,mystr):
        result = ''
        for i in mystr:
            self.st.append(i)
        for i in range(len(self.st)):
            popped = self.st.pop()
            result = result + popped
        return result

B = mystack()
B.revstr("kill")

'llik'

NUMBER OF STARS OF MISSING NUMBERS

In [1]:
def missing_number(arr):
    for i in range(1, len(arr) + 1):
        if i not in arr:
            return i*'*'

arr = [1, 2, 3, 4, 5, 6, 7, 8, 10]  
missing_number(arr)

'*********'

LEETCODE PROBLEM NUMBER "171" EXCEL SHEET COLUMN NUMBER

In [61]:
ord('A')

65

In [67]:
def col(name):
    a = 0
    for i in name:
        a = a*26 + ord(i) - 64
    return a

col('EE')
col('AN')

40

DEMONSTRATE ATM FUNCTIONS
GET THE NAME, FETCH THE PIN FROM DICTIONARY, IF PIN MATCHES PROCEED OR ELSE "INVALID PIN"
- OPTION 1:WITHDRAWAL
- OPTION 2:DEPOSITE
- OPTION 3:BALANCE ENQUIRY
- OPTION 4:OFFERS ON FD
- OPTION 5:QUIT

In [1]:
 def atm():
    pins = {"RM":5544,"JIN":6633,"YOONGIYA":8373,"JHOPE":3344}
    bals = {"RM":10000,"JIM":20000,"YOONGIYA":30000,"JHOPE":40000}
    name=input("Enter your name:")
    pin = int(input("Enter your atm pin"))
    if pin != pins[name]:
        print("invlid pin")
        exit(0)
    while True:
        print("1.Withdraw\n2.Deposite\n3.Balance Enquiry\n4.Offers on FD\n5.Change ATM pin\n6.Quit\n")
        choice = int(input("Enter your choice:"))
        if choice == 1:
            amt = int(input("Enter the amount:"))
            w = withdraw(amt,bals,name)
            print("The current balance is:",w)
        elif choice == 2:
            amt = int(input("Enter the amount:"))
            dep = deposit(amt,bals,name)
            print("The current balance is:",dep)
        elif choice == 3:
            balance_enq(bals,name)
        elif choice == 4:
            offer_fd()
        elif choice == 5:
            changepin(pins[name],pins,name)
        elif choice == 6:
            break
        else:
            print("Enter valid choice")

In [2]:
def withdraw(amount,bals,name):
    if amount > bals[name]:
        return "Amount exceeded than the limit"
    else:
        bals[name] = bals[name] - amount
    return bals[name]
def deposit(amount,bals,name):
    bals[name] = bals[name] + amount
    return bals[name]
def balance_enq(bals,name):
    print("The remaining balance is",bals[name],"\n\n")
def offer_fd():
    print("if you start apply for a new load youll be getting 2% less interest on it\n")
def changepin(pin,pins,name):
    oldpin = int(input("Enter your old pin:"))
    if oldpin == pin:
        print("Enter your new pin:")
        newpin = int(input())
        pins[name] = newpin
        print("The pin is updated")

In [3]:
atm()

Enter your name:RM
Enter your atm pin5544
1.Withdraw
2.Deposite
3.Balance Enquiry
4.Offers on FD
5.Change ATM pin
6.Quit

Enter your choice:1
Enter the amount:5000
The current balance is: 5000
1.Withdraw
2.Deposite
3.Balance Enquiry
4.Offers on FD
5.Change ATM pin
6.Quit

Enter your choice:2
Enter the amount:3000
The current balance is: 8000
1.Withdraw
2.Deposite
3.Balance Enquiry
4.Offers on FD
5.Change ATM pin
6.Quit

Enter your choice:3
The remaining balance is 8000


1.Withdraw
2.Deposite
3.Balance Enquiry
4.Offers on FD
5.Change ATM pin
6.Quit

Enter your choice:4
if you start apply for a new load youll be getting 2% less interest on it

1.Withdraw
2.Deposite
3.Balance Enquiry
4.Offers on FD
5.Change ATM pin
6.Quit

Enter your choice:5
Enter your old pin:5544
Enter your new pin:
7788
The pin is updated
1.Withdraw
2.Deposite
3.Balance Enquiry
4.Offers on FD
5.Change ATM pin
6.Quit

Enter your choice:6

REMOVING NTH NODE FROM THE LINKED LIST FROM THE REVERSE

In [10]:
class LinkedList:
    class Node:
        def __init__(self,data):
            self.data = data
            self.next = None
    def __init__(self):
        self.head = None
    def insertbeg(self,data):
        newnode = LinkedList.Node(data)
        newnode.next = self.head
        self.head = newnode
    def traverse(self):
        cur = self.head
        while cur:
            print(cur.data,end = '-->')
            cur = cur.next
        print(None)
    def nodefromrev(self,n):
        count = 0
        cur = self.head
        while cur:
            count = count + 1
            cur = cur.next
        if count == n:
            return self.head.next
        ptr1 = self.head
        for _ in range(count-n-1):
            ptr1 = ptr1.next
        ptr1.next = ptr1.next.next

In [11]:
rev = LinkedList()
rev.insertbeg(86)
rev.insertbeg(93)
rev.insertbeg(71)
rev.insertbeg(4)
rev.insertbeg(6)
rev.insertbeg(7)
rev.traverse()

7-->6-->4-->71-->93-->86-->None

In [12]:
rev.nodefromrev(5)
rev.traverse()

7-->4-->71-->93-->86-->None